.wrap {
  width: 700px;
  height: 300px;
  padding: 30px 30px 15px 30px;
  display: flex;
  position: relative;
}

.leftSection {
  height: inherit;
  width: 300px;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;

  .profpic {
    max-width: 100vw;
    height: inherit;
    display: flex;
  }
}

.rightSection {
  width: 400px;
  vertical-align: top;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
}